/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container-fluid {
    width: calc(100% - 30px);
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a,
.link {
    cursor: pointer;
    text-decoration: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
